{"http_interactions": [{"request": {"body": {"encoding": "utf-8", "string": "{\"name\": \"Security\", \"color\": \"FF3300\"}"}, "headers": {"Authorization": "token thisIsNotRealToken"}, "method": "POST", "uri": "https://api.github.com/repos/MarekSuchanek/repocribro/labels"}, "response": {"body": {"encoding": "utf-8", "string": "{\"message\":\"Bad credentials\",\"documentation_url\":\"https://developer.github.com/v3\"}"}, "headers": {"Content-Type": "application/json; charset=utf-8", "Status": "401 Unauthorized", "X-GitHub-Media-Type": "github.v3; format=json", "X-RateLimit-Limit": "60", "X-RateLimit-Remaining": "0", "X-RateLimit-Reset": "1511031203"}, "status": {"code": 401, "message": "Unauthorized"}, "url": "https://api.github.com/repos/MarekSuchanek/repocribro/labels"}, "recorded_at": "2017-11-18T18:50:07"}, {"request": {"body": {"encoding": "utf-8", "string": "{\"name\": \"Security\", \"color\": \"FF3300\"}"}, "headers": {"Authorization": "token thisIsNotRealToken"}, "method": "POST", "uri": "https://api.github.com/repos/MarekSuchanek/maze/labels"}, "response": {"body": {"encoding": "utf-8", "string": "{\"message\":\"Bad credentials\",\"documentation_url\":\"https://developer.github.com/v3\"}"}, "headers": {"Content-Type": "application/json; charset=utf-8", "Status": "401 Unauthorized", "X-GitHub-Media-Type": "github.v3; format=json", "X-RateLimit-Limit": "60", "X-RateLimit-Remaining": "0", "X-RateLimit-Reset": "1511031203"}, "status": {"code": 401, "message": "Unauthorized"}, "url": "https://api.github.com/repos/MarekSuchanek/maze/labels"}, "recorded_at": "2017-11-18T18:50:08"}, {"request": {"body": {"encoding": "utf-8", "string": "{\"name\": \"Security\", \"color\": \"FF6600\"}"}, "headers": {"Authorization": "token thisIsNotRealToken"}, "method": "PATCH", "uri": "https://api.github.com/repos/MarekSuchanek/pyplayground/labels/Security"}, "response": {"body": {"encoding": "utf-8", "string": "{\"message\":\"Bad credentials\",\"documentation_url\":\"https://developer.github.com/v3\"}"}, "headers": {"Content-Type": "application/json; charset=utf-8", "Status": "401 Unauthorized", "X-GitHub-Media-Type": "github.v3; format=json", "X-RateLimit-Limit": "60", "X-RateLimit-Remaining": "0", "X-RateLimit-Reset": "1511031203"}, "status": {"code": 401, "message": "Unauthorized"}, "url": "https://api.github.com/repos/MarekSuchanek/pyplayground/labels/Security"}, "recorded_at": "2017-11-18T18:50:08"}, {"request": {"body": {"encoding": "utf-8", "string": "{\"name\": \"Security\", \"color\": \"FF6600\"}"}, "headers": {"Authorization": "token thisIsNotRealToken"}, "method": "PATCH", "uri": "https://api.github.com/repos/MarekSuchanek/maze/labels/Security"}, "response": {"body": {"encoding": "utf-8", "string": "{\"message\":\"Bad credentials\",\"documentation_url\":\"https://developer.github.com/v3\"}"}, "headers": {"Content-Type": "application/json; charset=utf-8", "Status": "401 Unauthorized", "X-GitHub-Media-Type": "github.v3; format=json", "X-RateLimit-Limit": "60", "X-RateLimit-Remaining": "0", "X-RateLimit-Reset": "1511031203"}, "status": {"code": 401, "message": "Unauthorized"}, "url": "https://api.github.com/repos/MarekSuchanek/maze/labels/Security"}, "recorded_at": "2017-11-18T18:50:08"}, [...]
{"request": {"body": {"encoding": "utf-8", "string": ""}, "headers": {"Authorization": "token thisIsNotRealToken"}, "method": "DELETE", "uri": "https://api.github.com/repos/MarekSuchanek/repocribro/labels/Security"}, "response": {"body": {"encoding": "utf-8", "string": "{\"message\":\"Bad credentials\",\"documentation_url\":\"https://developer.github.com/v3\"}"}, "headers": {"Content-Type": "application/json; charset=utf-8", "Status": "401 Unauthorized", "X-GitHub-Media-Type": "github.v3; format=json", "X-RateLimit-Limit": "60", "X-RateLimit-Remaining": "0", "X-RateLimit-Reset": "1511031203"}, "status": {"code": 401, "message": "Unauthorized"}, "url": "https://api.github.com/repos/MarekSuchanek/repocribro/labels/Security"}, "recorded_at": "2017-11-18T18:50:09"}], "recorded_with": "betamax/0.8.0"}