{"http_interactions": [{"request": {"body": {"encoding": "utf-8", "string": ""}, "headers": {"Authorization": "token <TOKEN>"}, "method": "GET", "uri": "https://api.github.com/repos/HalfDeadPie/MusicAppForEma/labels?per_page=100&page=1"}, "response": {"body": {"encoding": "utf-8", "string": "[{\"id\":754151686,\"url\":\"https://api.github.com/repos/HalfDeadPie/MusicAppForEma/labels/Bug\",\"name\":\"Bug\",\"color\":\"1af480\",\"default\":false},{\"id\":754151769,\"url\":\"https://api.github.com/repos/HalfDeadPie/MusicAppForEma/labels/LOL\",\"name\":\"LOL\",\"color\":\"38c1e0\",\"default\":false},{\"id\":754151555,\"url\":\"https://api.github.com/repos/HalfDeadPie/MusicAppForEma/labels/New\",\"name\":\"New\",\"color\":\"64ef99\",\"default\":false},{\"id\":754151645,\"url\":\"https://api.github.com/repos/HalfDeadPie/MusicAppForEma/labels/Shock\",\"name\":\"Shock\",\"color\":\"8aabd8\",\"default\":false},{\"id\":754151506,\"url\":\"https://api.github.com/repos/HalfDeadPie/MusicAppForEma/labels/Weird\",\"name\":\"Weird\",\"color\":\"a0e56b\",\"default\":false}]"}, "headers": {"Content-Type": "application/json; charset=utf-8", "Status": "200 OK", "X-RateLimit-Limit": "5000", "X-RateLimit-Remaining": "4985", "X-RateLimit-Reset": "1511063397", "ETag": "\"b58cd01ff40c606961098cb388df7987\"", "X-OAuth-Scopes": "", "X-Accepted-OAuth-Scopes": "repo", "X-GitHub-Media-Type": "github.v3; format=json"}, "status": {"code": 200, "message": "OK"}, "url": "https://api.github.com/repos/HalfDeadPie/MusicAppForEma/labels?per_page=100&page=1"}, "recorded_at": "2017-11-19T02:57:38"}, {"request": {"body": {"encoding": "utf-8", "string": ""}, "headers": {"Authorization": "token <TOKEN>"}, "method": "GET", "uri": "https://api.github.com/repos/HalfDeadPie/Software-router/labels?per_page=100&page=1"}, "response": {"body": {"encoding": "utf-8", "string": "[{\"id\":738550050,\"url\":\"https://api.github.com/repos/HalfDeadPie/Software-router/labels/LOL\",\"name\":\"LOL\",\"color\":\"19d69d\",\"default\":false},{\"id\":738552995,\"url\":\"https://api.github.com/repos/HalfDeadPie/Software-router/labels/Tristo\",\"name\":\"Tristo\",\"color\":\"4767ad\",\"default\":false}]"}, "headers": {"Content-Type": "application/json; charset=utf-8", "Status": "200 OK", "X-RateLimit-Limit": "5000", "X-RateLimit-Remaining": "4984", "X-RateLimit-Reset": "1511063397", "ETag": "\"de4107c236dffc2f27e410ccdb90c60c\"", "X-OAuth-Scopes": "", "X-Accepted-OAuth-Scopes": "repo", "X-GitHub-Media-Type": "github.v3; format=json"}, "status": {"code": 200, "message": "OK"}, "url": "https://api.github.com/repos/HalfDeadPie/Software-router/labels?per_page=100&page=1"}, "recorded_at": "2017-11-19T02:57:38"}, {"request": {"body": {"encoding": "utf-8", "string": ""}, "headers": {"Authorization": "token <TOKEN>"}, "method": "GET", "uri": "https://api.github.com/repos/HalfDeadPie/Software-bridge/labels?per_page=100&page=1"}, "response": {"body": {"encoding": "utf-8", "string": "[{\"id\":738546687,\"url\":\"https://api.github.com/repos/HalfDeadPie/Software-bridge/labels/SkuskaSkuskaSkuska\",\"name\":\"SkuskaSkuskaSkuska\",\"color\":\"e99695\",\"default\":false},{\"id\":726072115,\"url\":\"https://api.github.com/repos/HalfDeadPie/Software-bridge/labels/testovaci%20label\",\"name\":\"testovaci label\",\"color\":\"cbe546\",\"default\":false},{\"id\":726650506,\"url\":\"https://api.github.com/repos/HalfDeadPie/Software-bridge/labels/Testovanie\",\"name\":\"Testovanie\",\"color\":\"10ace5\",\"default\":false},{\"id\":726825632,\"url\":\"https://api.github.com/repos/HalfDeadPie/Software-bridge/labels/TOKYO\",\"name\":\"TOKYO\",\"color\":\"1d76db\",\"default\":false}]"}, "headers": {"Content-Type": "application/json; charset=utf-8", "Status": "200 OK", "X-RateLimit-Limit": "5000", "X-RateLimit-Remaining": "4983", "X-RateLimit-Reset": "1511063397", "ETag": "\"3fe25ef02fae30d42ee878bd172271ce\"", "X-OAuth-Scopes": "", "X-Accepted-OAuth-Scopes": "repo", "X-GitHub-Media-Type": "github.v3; format=json"}, "status": {"code": 200, "message": "OK"}, "url": "https://api.github.com/repos/HalfDeadPie/Software-bridge/labels?per_page=100&page=1"}, "recorded_at": "2017-11-19T02:57:38"}, {"request": {"body": {"encoding": "utf-8", "string": ""}, "headers": {"Authorization": "token <TOKEN>"}, "method": "GET", "uri": "https://api.github.com/repos/HalfDeadPie/LoRa-FIIT/labels?per_page=100&page=1"}, "response": {"body": {"encoding": "utf-8", "string": "[{\"id\":738546648,\"url\":\"https://api.github.com/repos/HalfDeadPie/LoRa-FIIT/labels/SkuskaSkuskaSkuska\",\"name\":\"SkuskaSkuskaSkuska\",\"color\":\"e99695\",\"default\":false},{\"id\":738552984,\"url\":\"https://api.github.com/repos/HalfDeadPie/LoRa-FIIT/labels/Tristo\",\"name\":\"Tristo\",\"color\":\"4767ad\",\"default\":false}]"}, "headers": {"Content-Type": "application/json; charset=utf-8", "Status": "200 OK", "X-RateLimit-Limit": "5000", "X-RateLimit-Remaining": "4982", "X-RateLimit-Reset": "1511063397", "ETag": "\"7bfe4cc559d9acaff9186fe85b9db1e5\"", "X-OAuth-Scopes": "", "X-Accepted-OAuth-Scopes": "repo", "X-GitHub-Media-Type": "github.v3; format=json"}, "status": {"code": 200, "message": "OK"}, "url": "https://api.github.com/repos/HalfDeadPie/LoRa-FIIT/labels?per_page=100&page=1"}, "recorded_at": "2017-11-19T02:57:38"}], "recorded_with": "betamax/0.8.0"}