{"http_interactions": [{"request": {"body": {"encoding": "utf-8", "string": ""}, "headers": {"Authorization": "token <TOKEN>"}, "method": "GET", "uri": "https://api.github.com/repos/HalfDeadPie/LoRa-FIIT/labels?per_page=100&page=1"}, "response": {"body": {"encoding": "utf-8", "string": "[{\"id\":738546648,\"url\":\"https://api.github.com/repos/HalfDeadPie/LoRa-FIIT/labels/SkuskaSkuskaSkuska\",\"name\":\"SkuskaSkuskaSkuska\",\"color\":\"e99695\",\"default\":false},{\"id\":738552984,\"url\":\"https://api.github.com/repos/HalfDeadPie/LoRa-FIIT/labels/Tristo\",\"name\":\"Tristo\",\"color\":\"4767ad\",\"default\":false}]"}, "headers": {"Content-Type": "application/json; charset=utf-8", "Status": "200 OK", "X-RateLimit-Limit": "5000", "X-RateLimit-Remaining": "4968", "X-RateLimit-Reset": "1511059406", "ETag": "\"c802b69bf11e2f3298a80279744a26f2\"", "X-OAuth-Scopes": "", "X-Accepted-OAuth-Scopes": "repo", "X-GitHub-Media-Type": "github.v3; format=json"}, "status": {"code": 200, "message": "OK"}, "url": "https://api.github.com/repos/HalfDeadPie/LoRa-FIIT/labels?per_page=100&page=1"}, "recorded_at": "2017-11-19T01:48:08"}], "recorded_with": "betamax/0.8.0"}