{"http_interactions": [{"request": {"body": {"encoding": "utf-8", "string": ""}, "headers": {"Authorization": "token <TOKEN>"}, "method": "GET", "uri": "https://api.github.com/repos/HalfDeadPie/LoRa-FIIT/labels?per_page=100&page=1"}, "response": {"body": {"encoding": "utf-8", "string": "[{\"id\":738546648,\"url\":\"https://api.github.com/repos/HalfDeadPie/LoRa-FIIT/labels/SkuskaSkuskaSkuska\",\"name\":\"SkuskaSkuskaSkuska\",\"color\":\"e99695\",\"default\":false},{\"id\":738552984,\"url\":\"https://api.github.com/repos/HalfDeadPie/LoRa-FIIT/labels/Tristo\",\"name\":\"Tristo\",\"color\":\"4767ad\",\"default\":false}]"}, "headers": {"Content-Type": "application/json; charset=utf-8", "Status": "200 OK", "X-RateLimit-Limit": "5000", "X-RateLimit-Remaining": "4998", "X-RateLimit-Reset": "1511039994", "ETag": "\"1fcb846d5afe307a4e50cab5c763589f\"", "X-OAuth-Scopes": "", "X-Accepted-OAuth-Scopes": "repo", "X-GitHub-Media-Type": "github.v3; format=json"}, "status": {"code": 200, "message": "OK"}, "url": "https://api.github.com/repos/HalfDeadPie/LoRa-FIIT/labels?per_page=100&page=1"}, "recorded_at": "2017-11-18T20:19:55"}], "recorded_with": "betamax/0.8.0"}