{"http_interactions": [{"request": {"body": {"encoding": "utf-8", "string": ""}, "headers": {"Authorization": "token <TOKEN>"}, "method": "GET", "uri": "https://api.github.com/repos/HalfDeadPie/NotFound/labels?per_page=100&page=1"}, "response": {"body": {"encoding": "utf-8", "string": "{\"message\":\"Not Found\",\"documentation_url\":\"https://developer.github.com/v3\"}"}, "headers": {"Content-Type": "application/json; charset=utf-8", "Status": "404 Not Found", "X-RateLimit-Limit": "5000", "X-RateLimit-Remaining": "4987", "X-RateLimit-Reset": "1511063397", "X-OAuth-Scopes": "", "X-Accepted-OAuth-Scopes": "repo", "X-GitHub-Media-Type": "github.v3; format=json"}, "status": {"code": 404, "message": "Not Found"}, "url": "https://api.github.com/repos/HalfDeadPie/NotFound/labels?per_page=100&page=1"}, "recorded_at": "2017-11-19T02:57:36"}], "recorded_with": "betamax/0.8.0"}