{"http_interactions": [{"request": {"body": {"encoding": "utf-8", "string": "{\"name\": \"Test New\", \"color\": \"006b75\"}"}, "headers": {"Authorization": "token <TOKEN>"}, "method": "PATCH", "uri": "https://api.github.com/repos/HalfDeadPie/Software-router/labels/Test"}, "response": {"body": {"encoding": "utf-8", "string": "{\"message\":\"Not Found\",\"documentation_url\":\"https://developer.github.com/v3/issues/labels/#update-a-label\"}"}, "headers": {"Content-Type": "application/json; charset=utf-8", "Status": "404 Not Found", "X-RateLimit-Limit": "5000", "X-RateLimit-Remaining": "4979", "X-RateLimit-Reset": "1511063397", "X-OAuth-Scopes": "", "X-Accepted-OAuth-Scopes": "", "X-GitHub-Media-Type": "github.v3; format=json"}, "status": {"code": 404, "message": "Not Found"}, "url": "https://api.github.com/repos/HalfDeadPie/Software-router/labels/Test"}, "recorded_at": "2017-11-19T02:57:40"}, {"request": {"body": {"encoding": "utf-8", "string": "{\"name\": \"Test New\", \"color\": \"006b75\"}"}, "headers": {"Authorization": "token <TOKEN>"}, "method": "PATCH", "uri": "https://api.github.com/repos/HalfDeadPie/Software-bridge/labels/Test"}, "response": {"body": {"encoding": "utf-8", "string": "{\"message\":\"Not Found\",\"documentation_url\":\"https://developer.github.com/v3/issues/labels/#update-a-label\"}"}, "headers": {"Content-Type": "application/json; charset=utf-8", "Status": "404 Not Found", "X-RateLimit-Limit": "5000", "X-RateLimit-Remaining": "4978", "X-RateLimit-Reset": "1511063397", "X-OAuth-Scopes": "", "X-Accepted-OAuth-Scopes": "", "X-GitHub-Media-Type": "github.v3; format=json"}, "status": {"code": 404, "message": "Not Found"}, "url": "https://api.github.com/repos/HalfDeadPie/Software-bridge/labels/Test"}, "recorded_at": "2017-11-19T02:57:40"}], "recorded_with": "betamax/0.8.0"}