{"http_interactions": [{"request": {"body": {"encoding": "utf-8", "string": ""}, "headers": {"Authorization": "token <TOKEN>"}, "method": "GET", "uri": "https://api.github.com/user/repos?per_page=100&page=1"}, "response": {"body": {"encoding": "utf-8", "string": "[{\"id\":54100016,\"name\":\"Games\",\"full_name\":\"HalfDeadPie/Games\",\"owner\":{\"login\":\"HalfDeadPie\",\"id\":17759203,\"avatar_url\":\"https://avatars0.githubusercontent.com/u/17759203?v=4\",\"gravatar_id\":\"\",\"url\":\"https://api.github.com/users/HalfDeadPie\",\"html_url\":\"https://github.com/HalfDeadPie\",\"followers_url\":\"https://api.github.com/users/HalfDeadPie/followers\",\"following_url\":\"https://api.github.com/users/HalfDeadPie/following{/other_user}\",\"gists_url\":\"https://api.github.com/users/HalfDeadPie/gists{/gist_id}\",\"starred_url\":\"https://api.github.com/users/HalfDeadPie/starred{/owner}{/repo}\",\"subscriptions_url\":\"https://api.github.com/users/HalfDeadPie/subscriptions\",\"organizations_url\":\"https://api.github.com/users/HalfDeadPie/orgs\",\"repos_url\":\"https://api.github.com/users/HalfDeadPie/repos\",\"events_url\":\"https://api.github.com/users/HalfDeadPie/events{/privacy}\",\"received_events_url\":\"https://api.github.com/users/HalfDeadPie/received_events\",\"type\":\"User\",\"site_admin\":false},\"private\":false,\"html_url\":\"https://github.com/HalfDeadPie/Games\",\"description\":null,\"fork\":false,\"url\":\"https://api.github.com/repos/HalfDeadPie/Games\",\"forks_url\":\"https://api.github.com/repos/HalfDeadPie/Games/forks\",\"keys_url\":\"https://api.github.com/repos/HalfDeadPie/Games/keys{/key_id}\",\"collaborators_url\":\"https://api.github.com/repos/HalfDeadPie/Games/collaborators{/collaborator}\",\"teams_url\":\"https://api.github.com/repos/HalfDeadPie/Games/teams\",\"hooks_url\":\"https://api.github.com/repos/HalfDeadPie/Games/hooks\",\"issue_events_url\":\"https://api.github.com/repos/HalfDeadPie/Games/issues/events{/number}\",\"events_url\":\"https://api.github.com/repos/HalfDeadPie/Games/events\",\"assignees_url\":\"https://api.github.com/repos/HalfDeadPie/Games/assignees{/user}\",\"branches_url\":\"https://api.github.com/repos/HalfDeadPie/Games/branches{/branch}\",\"tags_url\":\"https://api.github.com/repos/HalfDeadPie/Games/tags\",\"blobs_url\":\"https://api.github.com/repos/HalfDeadPie/Games/git/blobs{/sha}\",\"git_tags_url\":\"https://api.github.com/repos/HalfDeadPie/Games/git/tags{/sha}\",\"git_refs_url\":\"https://api.github.com/repos/HalfDeadPie/Games/git/refs{/sha}\",\"trees_url\":\"https://api.github.com/repos/HalfDeadPie/Games/git/trees{/sha}\",\"statuses_url\":\"https://api.github.com/repos/HalfDeadPie/Games/statuses/{sha}\",\"languages_url\":\"https://api.github.com/repos/HalfDeadPie/Games/languages\",\"stargazers_url\":\"https://api.github.com/repos/HalfDeadPie/Games/stargazers\",\"contributors_url\":\"https://api.github.com/repos/HalfDeadPie/Games/contributors\",\"subscribers_url\":\"https://api.github.com/repos/HalfDeadPie/Games/subscribers\",\"subscription_url\":\"https://api.github.com/repos/HalfDeadPie/Games/subscription\",\"commits_url\":\"https://api.github.com/repos/HalfDeadPie/Games/commits{/sha}\",\"git_commits_url\":\"https://api.github.com/repos/HalfDeadPie/Games/git/commits{/sha}\",\"comments_url\":\"https://api.github.com/repos/HalfDeadPie/Games/comments{/number}\",\"issue_comment_url\":\"https://api.github.com/repos/HalfDeadPie/Games/issues/comments{/number}\",\"contents_url\":\"https://api.github.com/repos/HalfDeadPie/Games/contents/{+path}\",\"compare_url\":\"https://api.github.com/repos/HalfDeadPie/Games/compare/{base}...{head}\",\"merges_url\":\"https://api.github.com/repos/HalfDeadPie/Games/merges\",\"archive_url\":\"https://api.github.com/repos/HalfDeadPie/Games/{archive_format}{/ref}\",\"downloads_url\":\"https://api.github.com/repos/HalfDeadPie/Games/downloads\",\"issues_url\":\"https://api.github.com/repos/HalfDeadPie/Games/issues{/number}\",\"pulls_url\":\"https://api.github.com/repos/HalfDeadPie/Games/pulls{/number}\",\"milestones_url\":\"https://api.github.com/repos/HalfDeadPie/Games/milestones{/number}\",\"notifications_url\":\"https://api.github.com/repos/HalfDeadPie/Games/notifications{?since,all,participating}\",\"labels_url\":\"https://api.github.com/repos/HalfDeadPie/Games/labels{/name}\",\"releases_url\":\"https://api.github.com/repos/HalfDeadPie/Games/releases{/id}\",\"deployments_url\":\"https://api.github.com/repos/HalfDeadPie/Games/deployments\",\"created_at\":\"2016-03-17T08:09:38Z\",\"updated_at\":\"2016-03-17T08:30:28Z\",\"pushed_at\":\"2016-05-11T22:18:02Z\",\"git_url\":\"git://github.com/HalfDeadPie/Games.git\",\"ssh_url\":\"git@github.com:HalfDeadPie/Games.git\",\"clone_url\":\"https://github.com/HalfDeadPie/Games.git\",\"svn_url\":\"https://github.com/HalfDeadPie/Games\",\"homepage\":null,\"size\":245,\"stargazers_count\":0,\"watchers_count\":0,\"language\":\"Java\",\"has_issues\":true,\"has_projects\":true,\"has_downloads\":true,\"has_wiki\":true,\"has_pages\":false,\"forks_count\":0,\"mirror_url\":null,\"archived\":false,\"open_issues_count\":0,\"forks\":0,\"open_issues\":0,\"watchers\":0,\"default_branch\":\"master\",\"permissions\":{\"admin\":true,\"push\":true,\"pull\":true}},{\"id\":90530140,\"name\":\"LoRa-FIIT\",\"full_name\":\"HalfDeadPie/LoRa-FIIT\",\"owner\":{\"login\":\"HalfDeadPie\",\"id\":17759203,\"avatar_url\":\"https://avatars0.githubusercontent.com/u/17759203?v=4\",\"gravatar_id\":\"\",\"url\":\"https://api.github.com/users/HalfDeadPie\",\"html_url\":\"https://github.com/HalfDeadPie\",\"followers_url\":\"https://api.github.com/users/HalfDeadPie/followers\",\"following_url\":\"https://api.github.com/users/HalfDeadPie/following{/other_user}\",\"gist[...]
