{"http_interactions": [{"request": {"body": {"encoding": "utf-8", "string": ""}, "headers": {"Authorization": "token <TOKEN>"}, "method": "GET", "uri": "https://api.github.com/repos/HalfDeadPie/MusicAppForEma/labels?per_page=100&page=1"}, "response": {"body": {"encoding": "utf-8", "string": "[{\"id\":754151686,\"url\":\"https://api.github.com/repos/HalfDeadPie/MusicAppForEma/labels/Bug\",\"name\":\"Bug\",\"color\":\"1af480\",\"default\":false},{\"id\":754151769,\"url\":\"https://api.github.com/repos/HalfDeadPie/MusicAppForEma/labels/LOL\",\"name\":\"LOL\",\"color\":\"38c1e0\",\"default\":false},{\"id\":754151555,\"url\":\"https://api.github.com/repos/HalfDeadPie/MusicAppForEma/labels/New\",\"name\":\"New\",\"color\":\"64ef99\",\"default\":false},{\"id\":754151645,\"url\":\"https://api.github.com/repos/HalfDeadPie/MusicAppForEma/labels/Shock\",\"name\":\"Shock\",\"color\":\"8aabd8\",\"default\":false},{\"id\":754151506,\"url\":\"https://api.github.com/repos/HalfDeadPie/MusicAppForEma/labels/Weird\",\"name\":\"Weird\",\"color\":\"a0e56b\",\"default\":false}]"}, "headers": {"Content-Type": "application/json; charset=utf-8", "Status": "200 OK", "X-RateLimit-Limit": "5000", "X-RateLimit-Remaining": "4964", "X-RateLimit-Reset": "1511059406", "ETag": "\"fac5b1eebad890e3052a01094c7a2e70\"", "X-OAuth-Scopes": "", "X-Accepted-OAuth-Scopes": "repo", "X-GitHub-Media-Type": "github.v3; format=json"}, "status": {"code": 200, "message": "OK"}, "url": "https://api.github.com/repos/HalfDeadPie/MusicAppForEma/labels?per_page=100&page=1"}, "recorded_at": "2017-11-19T01:48:10"}, {"request": {"body": {"encoding": "utf-8", "string": ""}, "headers": {"Authorization": "token <TOKEN>"}, "method": "GET", "uri": "https://api.github.com/repos/HalfDeadPie/Software-router/labels?per_page=100&page=1"}, "response": {"body": {"encoding": "utf-8", "string": "[{\"id\":738550050,\"url\":\"https://api.github.com/repos/HalfDeadPie/Software-router/labels/LOL\",\"name\":\"LOL\",\"color\":\"19d69d\",\"default\":false},{\"id\":738552995,\"url\":\"https://api.github.com/repos/HalfDeadPie/Software-router/labels/Tristo\",\"name\":\"Tristo\",\"color\":\"4767ad\",\"default\":false}]"}, "headers": {"Content-Type": "application/json; charset=utf-8", "Status": "200 OK", "X-RateLimit-Limit": "5000", "X-RateLimit-Remaining": "4963", "X-RateLimit-Reset": "1511059406", "ETag": "\"4791404eb2f52cc6ac7d2cb843182426\"", "X-OAuth-Scopes": "", "X-Accepted-OAuth-Scopes": "repo", "X-GitHub-Media-Type": "github.v3; format=json"}, "status": {"code": 200, "message": "OK"}, "url": "https://api.github.com/repos/HalfDeadPie/Software-router/labels?per_page=100&page=1"}, "recorded_at": "2017-11-19T01:48:10"}, {"request": {"body": {"encoding": "utf-8", "string": ""}, "headers": {"Authorization": "token <TOKEN>"}, "method": "GET", "uri": "https://api.github.com/repos/HalfDeadPie/Software-bridge/labels?per_page=100&page=1"}, "response": {"body": {"encoding": "utf-8", "string": "[{\"id\":738546687,\"url\":\"https://api.github.com/repos/HalfDeadPie/Software-bridge/labels/SkuskaSkuskaSkuska\",\"name\":\"SkuskaSkuskaSkuska\",\"color\":\"e99695\",\"default\":false},{\"id\":726072115,\"url\":\"https://api.github.com/repos/HalfDeadPie/Software-bridge/labels/testovaci%20label\",\"name\":\"testovaci label\",\"color\":\"cbe546\",\"default\":false},{\"id\":726650506,\"url\":\"https://api.github.com/repos/HalfDeadPie/Software-bridge/labels/Testovanie\",\"name\":\"Testovanie\",\"color\":\"10ace5\",\"default\":false},{\"id\":726825632,\"url\":\"https://api.github.com/repos/HalfDeadPie/Software-bridge/labels/TOKYO\",\"name\":\"TOKYO\",\"color\":\"1d76db\",\"default\":false}]"}, "headers": {"Content-Type": "application/json; charset=utf-8", "Status": "200 OK", "X-RateLimit-Limit": "5000", "X-RateLimit-Remaining": "4962", "X-RateLimit-Reset": "1511059406", "ETag": "\"23acba5473f0351f3131434943d377da\"", "X-OAuth-Scopes": "", "X-Accepted-OAuth-Scopes": "repo", "X-GitHub-Media-Type": "github.v3; format=json"}, "status": {"code": 200, "message": "OK"}, "url": "https://api.github.com/repos/HalfDeadPie/Software-bridge/labels?per_page=100&page=1"}, "recorded_at": "2017-11-19T01:48:11"}, {"request": {"body": {"encoding": "utf-8", "string": ""}, "headers": {"Authorization": "token <TOKEN>"}, "method": "GET", "uri": "https://api.github.com/repos/HalfDeadPie/LoRa-FIIT/labels?per_page=100&page=1"}, "response": {"body": {"encoding": "utf-8", "string": "[{\"id\":738546648,\"url\":\"https://api.github.com/repos/HalfDeadPie/LoRa-FIIT/labels/SkuskaSkuskaSkuska\",\"name\":\"SkuskaSkuskaSkuska\",\"color\":\"e99695\",\"default\":false},{\"id\":738552984,\"url\":\"https://api.github.com/repos/HalfDeadPie/LoRa-FIIT/labels/Tristo\",\"name\":\"Tristo\",\"color\":\"4767ad\",\"default\":false}]"}, "headers": {"Content-Type": "application/json; charset=utf-8", "Status": "200 OK", "X-RateLimit-Limit": "5000", "X-RateLimit-Remaining": "4961", "X-RateLimit-Reset": "1511059406", "ETag": "\"c802b69bf11e2f3298a80279744a26f2\"", "X-OAuth-Scopes": "", "X-Accepted-OAuth-Scopes": "repo", "X-GitHub-Media-Type": "github.v3; format=json"}, "status": {"code": 200, "message": "OK"}, "url": "https://api.github.com/repos/HalfDeadPie/LoRa-FIIT/labels?per_page=100&page=1"}, "recorded_at": "2017-11-19T01:48:11"}], "recorded_with": "betamax/0.8.0"}