{"http_interactions": [{"request": {"body": {"encoding": "utf-8", "string": ""}, "headers": {"Authorization": "token <TOKEN>"}, "method": "DELETE", "uri": "https://api.github.com/repos/HalfDeadPie/Software-router/labels/Test%20New"}, "response": {"body": {"encoding": "utf-8", "string": "{\"message\":\"Not Found\",\"documentation_url\":\"https://developer.github.com/v3/issues/labels/#delete-a-label\"}"}, "headers": {"Content-Type": "application/json; charset=utf-8", "Status": "404 Not Found", "X-RateLimit-Limit": "5000", "X-RateLimit-Remaining": "4986", "X-RateLimit-Reset": "1511039994", "X-OAuth-Scopes": "", "X-Accepted-OAuth-Scopes": "", "X-GitHub-Media-Type": "github.v3; format=json"}, "status": {"code": 404, "message": "Not Found"}, "url": "https://api.github.com/repos/HalfDeadPie/Software-router/labels/Test%20New"}, "recorded_at": "2017-11-18T20:20:02"}, {"request": {"body": {"encoding": "utf-8", "string": ""}, "headers": {"Authorization": "token <TOKEN>"}, "method": "DELETE", "uri": "https://api.github.com/repos/HalfDeadPie/Software-bridge/labels/Test%20New"}, "response": {"body": {"encoding": "utf-8", "string": "{\"message\":\"Not Found\",\"documentation_url\":\"https://developer.github.com/v3/issues/labels/#delete-a-label\"}"}, "headers": {"Content-Type": "application/json; charset=utf-8", "Status": "404 Not Found", "X-RateLimit-Limit": "5000", "X-RateLimit-Remaining": "4985", "X-RateLimit-Reset": "1511039994", "X-OAuth-Scopes": "", "X-Accepted-OAuth-Scopes": "", "X-GitHub-Media-Type": "github.v3; format=json"}, "status": {"code": 404, "message": "Not Found"}, "url": "https://api.github.com/repos/HalfDeadPie/Software-bridge/labels/Test%20New"}, "recorded_at": "2017-11-18T20:20:02"}], "recorded_with": "betamax/0.8.0"}