{"http_interactions": [{"request": {"body": {"encoding": "utf-8", "string": "{\"name\": \"Test\", \"color\": \"006b75\"}"}, "headers": {"Authorization": "token <TOKEN>"}, "method": "POST", "uri": "https://api.github.com/repos/HalfDeadPie/Software-router/labels"}, "response": {"body": {"encoding": "utf-8", "string": "{\"message\":\"Not Found\",\"documentation_url\":\"https://developer.github.com/v3/issues/labels/#create-a-label\"}"}, "headers": {"Content-Type": "application/json; charset=utf-8", "Status": "404 Not Found", "X-RateLimit-Limit": "5000", "X-RateLimit-Remaining": "4960", "X-RateLimit-Reset": "1511059406", "X-OAuth-Scopes": "", "X-Accepted-OAuth-Scopes": "", "X-GitHub-Media-Type": "github.v3; format=json"}, "status": {"code": 404, "message": "Not Found"}, "url": "https://api.github.com/repos/HalfDeadPie/Software-router/labels"}, "recorded_at": "2017-11-19T01:48:12"}, {"request": {"body": {"encoding": "utf-8", "string": "{\"name\": \"Test\", \"color\": \"006b75\"}"}, "headers": {"Authorization": "token <TOKEN>"}, "method": "POST", "uri": "https://api.github.com/repos/HalfDeadPie/Software-bridge/labels"}, "response": {"body": {"encoding": "utf-8", "string": "{\"message\":\"Not Found\",\"documentation_url\":\"https://developer.github.com/v3/issues/labels/#create-a-label\"}"}, "headers": {"Content-Type": "application/json; charset=utf-8", "Status": "404 Not Found", "X-RateLimit-Limit": "5000", "X-RateLimit-Remaining": "4959", "X-RateLimit-Reset": "1511059406", "X-OAuth-Scopes": "", "X-Accepted-OAuth-Scopes": "", "X-GitHub-Media-Type": "github.v3; format=json"}, "status": {"code": 404, "message": "Not Found"}, "url": "https://api.github.com/repos/HalfDeadPie/Software-bridge/labels"}, "recorded_at": "2017-11-19T01:48:12"}], "recorded_with": "betamax/0.8.0"}